* {
  margin: 0;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.card {
  height: 300px;
  width: 300px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
